/* Basic Style */

.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: "lato", sans-serif;
}

.container {
  width: 31.25rem;
  margin: 0 auto;
}

/* Heading */

.banner {
  text-align: right;
}

.banner__image {
  width: 100%;
}

.banner__more-info {
  font-family: "fantasy", cursive;
}

@media (max-width: 48rem) {

  .banner {
    text-align: center;
  }
  
}

/* Task list */

.todo__items-unfinished,
.todo__items-finished {
  margin: 0;
  padding: 0;
}

.todo__item > * {
  vertical-align: middle;
}
  
.todo__item > .todo__checkbox {
  margin: 0 0.625rem;
  cursor: pointer;
}
  
.todo__item > .todo__label {
  padding-left: 0.625rem;
  box-sizing: border-box;
  font-size: 1rem;
  width: 65%;
  flex-grow: 1;
}

/* New Task */

.todo__item {
  overflow: hidden;
  padding: 1.25rem 0;
  border-bottom: 0.063rem solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.todo__title {
  color: #333;
  font-weight: 700;
  font-size: 0.938rem;
  border-bottom: 0.125rem solid #333;
  padding: 1.875rem 0 0.625rem;
  margin: 0 0 1.25rem;
  text-transform: uppercase;
}

.todo__button {
  background: none;
  border: none;
  color: #888;
  font-size: 0.938rem;
  width: 3.75rem;
  font-family: "lato", sans-serif;
  outline: none;
  cursor: pointer;
}

.todo__button:hover {
  color: #3a3a3a;
}

.todo__input-wrapper
.todo__button:hover {
  color: #0fc57c;
}

.todo__button_delete
.todo__button__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.todo__button_delete
.todo__button__img:hover {
  transform: rotateZ(0);
}

.todo__input {
  margin: 0;
  font-size: 1rem;
  line-height: 1rem;
  width: 65%;
  height: 1.313rem;
  padding: 0 0.563rem;
  border: 0.063rem solid #ddd;
  background: #fff;
  border-radius: 0.375rem;
  font-family: "lato", sans-serif;
  color: #888;
  outline: none;
}
  
.todo__input:focus {
  color: #333;
}

/* Completed */

.todo__items-finished
.todo__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.todo__item 
.todo__input {
  display: none;
}

.todo__item_edit-mode 
.todo__input {
  display: inline-block;
}

.todo__item_edit-mode
.todo__label {
  display: none;
}
